<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
        {{!-- Directly from public folder --}}
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrait" src="./images/eyeFinal.png"/>
        </div>

        {{>footer}}
    </body>
</html>