<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> Type in the coordinates below and hit search</p>

            <form>
                <input type="number" step=".0000001" id="lat" placeholder="Latitude">
                <input type="number" step=".0000001" id="long" placeholder="Longitude">
                <button>Search</button>
            </form>
            <p id="location"></p>
            <p id="forecast"></p>
        </div>
        
        {{>footer}}
        <script src="./js/app.js"></script>
    </body>
</html>